In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/K2 2019-11 dead no id_hour.csv', sep=';')

/home/ai6644/anaconda3/envs/jup/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (0,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df['kost'] = [s.replace(',', '.') for s in df['förd kost'].to_list()]
df['kost'] = df['kost'].astype(float)

df['km'] = [s.replace(',', '.') for s in df['p km'].to_list()]
df['km'] = df['km'].astype(float)

df['kost_per_km'] = df.kost / df.km

In [4]:
df.head()

,område,fordonstyp,garage,datum,Avidentifierad kund,Avidentifierat Bokningsnummer,antal pass,Bok ensam,Villkor ensam,kund ensam,...,Till Kommun SCB,Kommuner,Orter,Till Område,Till Område2,Områden,Timme,kost,km,kost_per_km
0,7,Personbil,Trelleborg,20191101,45,47,2,JA,JA,NEJ,...,Malmö,Vellinge-Malmö,Höllviken-Malmö,7.0,8.0,7-8,13.0,307.01,21.92,14.005931
1,6,Personbil,Lund,20191101,35,37,2,NEJ,NEJ,JA,...,Gävle,Burlöv-Gävle,Arlöv-Lund,6.0,0.0,6-0,16.0,136.43,13.31,10.250188
2,2,Klass 3,Ödåkra,20191101,8,10,3,NEJ,NEJ,JA,...,Bjuv,Helsingborg-Bjuv,Helsingborg-Billesholm,2.0,2.0,2-2,10.0,413.23,19.94,20.723671
3,1,Personbil,Munka Ljungby,20191101,2,3,1,NEJ,NEJ,JA,...,Örkellj,Markaryd-Örkellj,Markaryd-Skånes Fagerhult,0.0,NaN,NaN,10.0,246.75,13.67,18.050475
4,3,Personbil,Kristianstad,20191101,15,17,2,NEJ,NEJ,NEJ,...,Gävle,Kristianstad-Gävle,Kristianstad-Lund,3.0,0.0,3-0,8.0,994.18,77.76,12.785237

In [29]:
df = df[df.kost_per_km != 0]
df = df[df.kost_per_km != np.inf]
df = df[df.kost_per_km != np.NINF]
df = df[df.kost_per_km != np.NAN]
df = df[df.kost_per_km > 5]
df = df[df.kost_per_km < 200]
df = df.dropna(subset=['kost_per_km'])

In [30]:
df.kost_per_km.value_counts()

19.000000    32
18.000000    31
17.000000    29
20.000000    26
23.000000    23
             ..
23.454877     1
28.512077     1
7.318220      1
41.344595     1
8.579199      1
Name: kost_per_km, Length: 202952, dtype: int64

In [31]:
df.kost_per_km.max()

199.93641618497108

In [32]:
df.sort_values(by=['kost_per_km'])

,område,fordonstyp,garage,datum,Avidentifierad kund,Avidentifierat Bokningsnummer,antal pass,Bok ensam,Villkor ensam,kund ensam,...,Till Kommun SCB,Kommuner,Orter,Till Område,Till Område2,Områden,Timme,kost,km,kost_per_km
64670,4,Personbil,Ystad,20191118,2481,64468,1,NEJ,NEJ,NEJ,...,Ystad,Ystad-Ystad,Ystad-Ystad,4.0,4.0,4-4,12.0,9.71,1.65,5.884848
65598,4,Personbil,Ystad,20191118,5194,65447,2,NEJ,JA,NEJ,...,Gävle,Lund-Gävle,Dalby-Lund,6.0,0.0,6-0,8.0,70.07,11.90,5.888235
68629,4,Personbil,Ystad,20191118,570,67830,1,NEJ,NEJ,JA,...,Kristianstad,Kristianstad-Kristianstad,Kristianstad-Degeberga,3.0,3.0,3-3,10.0,185.40,31.48,5.889454
67196,4,Personbil,Ystad,20191118,13881,66730,2,NEJ,NEJ,JA,...,Kristianstad,Malmö-Kristianstad,Malmö-Kristianstad,8.0,3.0,8-3,15.0,568.38,96.50,5.889948
68096,4,Personbil,Ystad,20191118,14071,67831,1,NEJ,NEJ,NEJ,...,Simrishamn,Kristianstad-Simrishamn,Kristianstad-Simrishamn,3.0,4.0,3-4,22.0,381.56,64.78,5.890090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117786,8,Klass 1 + trp,Malmö,20191129,5855,117346,1,NEJ,JA,NEJ,...,Malmö,Malmö-Malmö,Malmö-Malmö,8.0,8.0,8-8,9.0,344.24,1.73,198.982659
4678,8,Klass 3,Malmö,20191102,2026,4645,1,JA,NEJ,JA,...,Malmö,Malmö-Malmö,Malmö-Malmö,8.0,8.0,8-8,14.0,402.57,2.02,199.292079
167813,8,Klass 1 + trp,Malmö,20201113,26046,167257,4,JA,NEJ,JA,...,Malmö,Malmö-Malmö,Malmö-Malmö,8.0,8.0,8-8,14.0,385.39,1.93,199.683938
144022,6,Klass 1 + trp,Lund,20201106,22473,143578,2,JA,NEJ,NEJ,...,Malmö,Malmö-Malmö,Malmö-Malmö,8.0,8.0,8-8,15.0,345.89,1.73,199.936416
144023,6,Klass 1 + trp,Lund,20201106,22473,143578,2,JA,JA,NEJ,...,Malmö,Malmö-Malmö,Malmö-Malmö,8.0,8.0,8-8,15.0,345.89,1.73,199.936416

In [33]:
df.fordonstyp.value_counts()

Personbil          94405
Klass 1            56395
Klass 3            32437
Klass 1 + trp      13308
Klass 4             6620
Personbil avrop     4861
Klass 3 + trp       2481
Klass 1 avrop       1616
Personbil EL        1305
Klass 3 avrop        788
Anrop                497
Högt spec avrop      281
Personbil EL          75
Extern resurs         12
Name: fordonstyp, dtype: int64

In [34]:
klass = df[df.fordonstyp == 'Personbil']
klass.kost_per_km.describe()

count    94405.000000
mean        16.778666
std          8.684684
min          5.884848
25%         11.734076
50%         14.607843
75%         18.499422
max        164.229167
Name: kost_per_km, dtype: float64

In [35]:
klass1 = df[df.fordonstyp == 'Klass 1']
klass1.kost_per_km.describe()

count    56395.000000
mean        22.826274
std          8.868186
min          9.111244
25%         17.682689
50%         20.924324
75%         25.596155
max        171.369077
Name: kost_per_km, dtype: float64

In [36]:
klass3 = df[df.fordonstyp == 'Klass 3']
klass3.kost_per_km.describe()

count    32437.000000
mean        25.595116
std         20.094629
min          7.235772
25%         17.200372
50%         20.300178
75%         26.029973
max        199.292079
Name: kost_per_km, dtype: float64

In [37]:
klass4 = df[df.fordonstyp == 'Klass 4']
klass4.kost_per_km.describe()

count    6620.000000
mean       15.617513
std         4.266576
min         7.166667
25%        12.681921
50%        15.021382
75%        17.878179
max        77.333659
Name: kost_per_km, dtype: float64

In [38]:
klass = df[df.fordonstyp == 'Klass 1 + trp']
klass.kost_per_km.describe()

count    13308.000000
mean        30.390840
std         24.630928
min         10.963636
25%         19.601220
50%         23.407783
75%         29.912603
max        199.936416
Name: kost_per_km, dtype: float64

In [39]:
klass = df[df.fordonstyp == 'Klass 3 + trp']
klass.kost_per_km.describe()

count    2481.000000
mean       47.843341
std        39.992973
min        11.860744
25%        20.173077
50%        31.097632
75%        65.688555
max       197.991416
Name: kost_per_km, dtype: float64

In [40]:
klass = df[(df.fordonstyp == 'Klass 3') | (df.fordonstyp == 'Klass 1')]
klass.kost_per_km.describe()

count    88832.000000
mean        23.837317
std         14.111946
min          7.235772
25%         17.475657
50%         20.720809
75%         25.716701
max        199.292079
Name: kost_per_km, dtype: float64