In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/K2 2019-11 dead no id_hour.csv', sep=';')

/home/ai6644/anaconda3/envs/jup/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (0,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df['kost'] = [s.replace(',', '.') for s in df['förd kost'].to_list()]
df['kost'] = df['kost'].astype(float)

df['km'] = [s.replace(',', '.') for s in df['p km'].to_list()]
df['km'] = df['km'].astype(float)

df['kost_per_km'] = df.kost / df.km

In [4]:
df.head()

,område,fordonstyp,garage,datum,Avidentifierad kund,Avidentifierat Bokningsnummer,antal pass,Bok ensam,Villkor ensam,kund ensam,...,Till Kommun SCB,Kommuner,Orter,Till Område,Till Område2,Områden,Timme,kost,km,kost_per_km
0,7,Personbil,Trelleborg,20191101,45,47,2,JA,JA,NEJ,...,Malmö,Vellinge-Malmö,Höllviken-Malmö,7.0,8.0,7-8,13.0,307.01,21.92,14.005931
1,6,Personbil,Lund,20191101,35,37,2,NEJ,NEJ,JA,...,Gävle,Burlöv-Gävle,Arlöv-Lund,6.0,0.0,6-0,16.0,136.43,13.31,10.250188
2,2,Klass 3,Ödåkra,20191101,8,10,3,NEJ,NEJ,JA,...,Bjuv,Helsingborg-Bjuv,Helsingborg-Billesholm,2.0,2.0,2-2,10.0,413.23,19.94,20.723671
3,1,Personbil,Munka Ljungby,20191101,2,3,1,NEJ,NEJ,JA,...,Örkellj,Markaryd-Örkellj,Markaryd-Skånes Fagerhult,0.0,NaN,NaN,10.0,246.75,13.67,18.050475
4,3,Personbil,Kristianstad,20191101,15,17,2,NEJ,NEJ,NEJ,...,Gävle,Kristianstad-Gävle,Kristianstad-Lund,3.0,0.0,3-0,8.0,994.18,77.76,12.785237

In [5]:
df = df[df.kost_per_km != 0]
df = df[df.kost_per_km != np.inf]
df = df[df.kost_per_km != np.NINF]
df = df[df.kost_per_km != np.NAN]
df = df[df.kost_per_km > 5]
df = df.dropna(subset=['kost_per_km'])

In [6]:
df.kost_per_km.value_counts()

19.000000    32
18.000000    31
17.000000    29
20.000000    26
23.000000    23
             ..
10.408624     1
16.232456     1
20.121495     1
19.024480     1
11.443726     1
Name: kost_per_km, Length: 203987, dtype: int64

In [7]:
df.kost_per_km.max()

9697.333333333334

In [8]:
df.sort_values(by=['kost_per_km'])

,område,fordonstyp,garage,datum,Avidentifierad kund,Avidentifierat Bokningsnummer,antal pass,Bok ensam,Villkor ensam,kund ensam,...,Till Kommun SCB,Kommuner,Orter,Till Område,Till Område2,Områden,Timme,kost,km,kost_per_km
64670,4,Personbil,Ystad,20191118,2481,64468,1,NEJ,NEJ,NEJ,...,Ystad,Ystad-Ystad,Ystad-Ystad,4.0,4.0,4-4,12.0,9.71,1.65,5.884848
65598,4,Personbil,Ystad,20191118,5194,65447,2,NEJ,JA,NEJ,...,Gävle,Lund-Gävle,Dalby-Lund,6.0,0.0,6-0,8.0,70.07,11.90,5.888235
68629,4,Personbil,Ystad,20191118,570,67830,1,NEJ,NEJ,JA,...,Kristianstad,Kristianstad-Kristianstad,Kristianstad-Degeberga,3.0,3.0,3-3,10.0,185.40,31.48,5.889454
67196,4,Personbil,Ystad,20191118,13881,66730,2,NEJ,NEJ,JA,...,Kristianstad,Malmö-Kristianstad,Malmö-Kristianstad,8.0,3.0,8-3,15.0,568.38,96.50,5.889948
68096,4,Personbil,Ystad,20191118,14071,67831,1,NEJ,NEJ,NEJ,...,Simrishamn,Kristianstad-Simrishamn,Kristianstad-Simrishamn,3.0,4.0,3-4,22.0,381.56,64.78,5.890090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25206,2,Klass 1 + trp,Helsingborg,20191107,8308,24885,2,NEJ,NEJ,NEJ,...,Åstorp,Åstorp-Åstorp,Åstorp-Åstorp,2.0,2.0,2-2,7.0,293.22,0.12,2443.500000
156792,2,Klass 3 + trp,Landskrona,20201111,5011,156111,1,NEJ,NEJ,NEJ,...,Helsingborg,Helsingborg-Helsingborg,Helsingborg-Helsingborg,2.0,2.0,2-2,15.0,1522.18,0.52,2927.269231
152809,3,Klass 3,Kristianstad,20201110,3012,152114,1,JA,JA,NEJ,...,Gävle,Gävle-Gävle,Lund-Lund,0.0,0.0,0-0,16.0,302.32,0.09,3359.111111
217287,7,Klass 1 + trp,Svedala,20201128,689,216061,2,JA,JA,JA,...,Trelleborg,Trelleborg-Trelleborg,Trelleborg-Trelleborg,7.0,7.0,7-7,14.0,2288.78,0.60,3814.633333
73839,4,Klass 1 + trp,Ystad,20191119,4706,73534,6,NEJ,NEJ,JA,...,Ystad,Ystad-Ystad,Ystad-Ystad,4.0,4.0,4-4,7.0,290.92,0.03,9697.333333

In [10]:
df.fordonstyp.value_counts()

Personbil          94422
Klass 1            56408
Klass 3            32820
Klass 1 + trp      13766
Klass 4             6620
Personbil avrop     4872
Klass 3 + trp       2644
Klass 1 avrop       1621
Personbil EL        1307
Klass 3 avrop        804
Anrop                527
Högt spec avrop      283
Personbil EL          75
Extern resurs         12
Name: fordonstyp, dtype: int64

In [11]:
klass = df[df.fordonstyp == 'Personbil']
klass.kost_per_km.describe()

count    94422.000000
mean        16.830608
std          9.984300
min          5.884848
25%         11.734472
50%         14.608467
75%         18.502517
max       1208.476636
Name: kost_per_km, dtype: float64

In [12]:
klass1 = df[df.fordonstyp == 'Klass 1']
klass1.kost_per_km.describe()

count    56408.000000
mean        22.887072
std          9.844797
min          9.111244
25%         17.683534
50%         20.925521
75%         25.600000
max        496.436066
Name: kost_per_km, dtype: float64

In [13]:
klass3 = df[df.fordonstyp == 'Klass 3']
klass3.kost_per_km.describe()

count    32820.000000
mean        29.108432
std         44.644237
min          7.235772
25%         17.239639
50%         20.397012
75%         26.377617
max       3359.111111
Name: kost_per_km, dtype: float64

In [14]:
klass4 = df[df.fordonstyp == 'Klass 4']
klass4.kost_per_km.describe()

count    6620.000000
mean       15.617513
std         4.266576
min         7.166667
25%        12.681921
50%        15.021382
75%        17.878179
max        77.333659
Name: kost_per_km, dtype: float64

In [15]:
klass = df[df.fordonstyp == 'Klass 1 + trp']
klass.kost_per_km.describe()

count    13766.000000
mean        41.408025
std        111.582095
min         10.963636
25%         19.663715
50%         23.666667
75%         31.061333
max       9697.333333
Name: kost_per_km, dtype: float64

In [16]:
klass = df[df.fordonstyp == 'Klass 3 + trp']
klass.kost_per_km.describe()

count    2644.000000
mean       68.878697
std       118.926759
min        11.860744
25%        20.602592
50%        33.222162
75%        72.735411
max      2927.269231
Name: kost_per_km, dtype: float64